<html>
  <head>
  	<link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
  </head>
  <body>
    <img id="video_feed" src="{{ url_for('video_feed') }}">

  </body>
</html>
