body {
  width: 99%;
  height: 600px;
  background-image: url(/static/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%; /*propotional resize*/
}

#video_feed {
	z-index: 10;
	position:fixed;
	width: 620px;
	margin-left: 62.4%;
	margin-top: 50px;

}


#video_overlay {
	z-index: 10;
	position:fixed;
	width: 620px;
	margin-left: 62.4%;
	margin-top: -27px;
	opacity: 0.8;
}